body {
  --white: #f1f0f0;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(201, 202, 191);
}

.custom-button {
  height: 40px;
  border-radius: 12px;
  padding: 0 12px;
  border: none;
  transition: all 0.2s;
  background-color: var(--white); 
}

.custom-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px 2px rgb(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.custom-button:focus {
  outline: none;
  background-color: #f1f0f0;  
}

#modal {
  position: fixed;
  bottom: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: white;
  z-index: 9999;
  transform: translateY(140vh);
  transition: all 300ms ease;
}

.modal-show {
  transform: translateY(0vh) !important;
  background-color: rgba(10, 10, 10, 0.6) !important;
}

#modal .container {
  background: #adaaaa;
  width: 30%;
  margin-top: 75px;
  position: relative;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: flex-end;
  padding: 40px;
}

#modal .container a {
  position: absolute;
  top: 30px;
  color: gray;
  text-decoration: none;
  font-size: 32px;
  z-index: 9999;
  right: 30px;
  position: absolute;
  top: 10px;
  color: #4c4c4c;
  text-decoration: none;
  font-size: 32px;
  z-index: 9999;
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1100px;
  height: 800px;
  background-color: white;
  box-shadow: 0px 0px 15px 5px rgb(0, 0, 0, 0.3);
  border-radius: 10px;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 150px;
  background-color: #3498db;
  color: #ecf0f1;
  text-align: center;
}

.weekdays {
  display: flex;
  background-color: #2980b9;
  color: #ecf0f1;
  font-size: x-large;
  justify-content: space-around;
  padding: 10px;
}

.weekdays div {
  width: 14.28%;
  text-align: center;
}

.month-days {
  display: flex;
  flex-wrap: wrap;
  font-size: large;
}

.month-days .day {
  width: 14.28%;
  height: 119px;
  display: flex;
  padding: 8px 16px;
  transition: all 0.4s;
  border: 1px ridge rgba(150, 150, 150, 0.486);
}

.month-days .day:hover {
  background-color: #bdc3c785;
}

.today {
  background-color: #2980b9;
  color: #ecf0f1;
}

.today:hover {
  color: #000000;
  
}
